{% extends 'base.html' %}

{% block main %}
<div class="container">
    <br>
    <div class="d-flex justify-content-center">
        <h1>Cadastrar Produto</h1>
    </div>
    <hr>
    <form action="{{url_for('cadastrar_produtos')}}" class="form-control" enctype="multipart/form-data" method="post">
        <div class="mb-3">
            <label for="nome" class="form-label">Nome do Produto:</label>
            <input type="text" class="form-control" name="nome" required value="{{ form['nome'] if form else '' }}">
        </div>
        <div class="mb-3">
            <label for="descricao" class="form-label">Descrição do Produto</label>
            <textarea class="form-control" name="descricao" rows="2">{{ form['descricao'] if form else '' }}</textarea>
        </div>
        <div class="mb-3">
            <label for="ingredientes" class="form-label">Ingredientes:</label>
            <input type="text" class="form-control" name="ingredientes" value="{{ form['ingredientes'] if form else '' }}">
        </div>
        <div class="mb-3">
            <label for="origem" class="form-label">Origem:</label>
            <input type="text" class="form-control" name="origem" value="{{ form['origem'] if form else '' }}">
        </div>
        <div class="mb-3">
            <label for="imagem" class="form-label">Imagem:</label>
            <input type="file" class="form-control" name="imagem">
        </div>
        <input class="btn btn-primary" type="submit" value="Cadastrar">
    </form>
</div>
<br>
{% endblock %}
